{% extends '::base.html.twig' %}
{% block styles %}
    {% block style %}
    {% endblock %}
{% endblock %}
{% block wrapper %}
    {% include 'happyCmsBundle:inc:navigation.html.twig' %}
    <div id="page-wrapper" style="overflow: scroll">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% block pageheader %}CMS-д тавтай морил!{% endblock %}</h1>
            </div>
        </div>
        {% block body %} {% endblock %}

    </div>

    <div id="excelalert" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-body">
                    <span class="label label-danger" style="font-size: 20px">Please! First you need to be search from log!</span>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block subjs %}
    {% block js %}
    {% endblock %}
{% endblock %}
