{#<div class="col-lg-2 col-md-2 col-sm-3">#}
    {#<div class="list-group">#}
        {#<a href="{{ path('bot_cms_bot') }}" class="list-group-item {% if menu == 1 %}active {% endif %}">Bots</a>#}
        {#<a href="{{ path('bot_cms_content', {'menu' : 2}) }}"#}
           {#class="list-group-item {% if menu == 2 %}active {% endif %}">Contents</a>#}
        {#<a href="{{ path('bot_cms_user', {'menu' : 3}) }}"#}
           {#class="list-group-item {% if menu == 3 %}active {% endif %}">Users</a>#}
    {#</div>#}
{#</div>#}